<?xml version="1.0"?>
<!--
/**
 * @copyright Copyright (c) 2014 X.commerce, Inc. (http://www.magentocommerce.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <preference for="Magento\Directory\Model\Country" type="Magentostudy\News\Model\Country" />
    <preference for="Magento\Customer\Model\Data\Customer" type="Magentostudy\News\Model\Customer" />
    <type name="Magento\Framework\Module\Updater\SetupFactory">
        <arguments>
            <argument name="resourceTypes" xsi:type="array">
                <item name="news_setup" xsi:type="string">Magentostudy\News\Model\Resource\Setup</item>
            </argument>
        </arguments>
    </type>
</config>
